<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="welcomePrimefaces" value="Página de boas-vindas do Primefaces" />

        <h:form id="formajax">
            <h:inputText id="nome" value="#{ajaxBean.nome}"/><br/>
            <h:outputText value="Olá #{ajaxBean.nome}" id="ola"/><br/>
            <h:outputText value="Contador: #{ajaxBean.qtdChar}" 
                          id="qtd"/><br/>
            <h:commandButton value="Transformar" 
                             action="#{ajaxBean.transformar}">
                <f:ajax render="ola nome" execute="nome"/>
            </h:commandButton>
        </h:form>
        <br />
        <h:link outcome="/estado/List" value="Show All Estado Items"/>
        <br />
        <h:link outcome="/gen/cidade/List" value="Show All Cidade Items"/>
        <br />
        <h:link outcome="/gen/compartilhamento/List" value="Show All Compartilhamento Items"/>
        <br />
        <h:link outcome="/gen/contato/List" value="Show All Contato Items"/>
        <br />
        <h:link outcome="/gen/dadosMeteorologicos/List" value="Show All DadosMeteorologicos Items"/>
        <br />
        <h:link outcome="/gen/empresa/List" value="Show All Empresa Items"/>
        <br />
        <h:link outcome="/gen/estacao/List" value="Show All Estacao Items"/>
        <br />
        <h:link outcome="/gen/estado/List" value="Show All Estado Items"/>
        <br />
        <h:link outcome="/gen/imagem/List" value="Show All Imagem Items"/>
        <br />
        <h:link outcome="/gen/perfil/List" value="Show All Perfil Items"/>
        <br />
        <h:link outcome="/gen/permissao/List" value="Show All Permissao Items"/>
        <br />
        <h:link outcome="/gen/pessoa/List" value="Show All Pessoa Items"/>
        <br />
        <h:link outcome="/gen/pessoaFisica/List" value="Show All PessoaFisica Items"/>
        <br />
        <h:link outcome="/gen/programa/List" value="Show All Programa Items"/>
        <br />
        <h:link outcome="/gen/programaOperacao/List" value="Show All ProgramaOperacao Items"/>
        <br />
        <h:link outcome="/gen/ramo/List" value="Show All Ramo Items"/>
        <br />
        <h:link outcome="/gen/telefoneSMS/List" value="Show All TelefoneSMS Items"/>
        <br />
        <h:link outcome="/gen/tipoDeVariavel/List" value="Show All TipoDeVariavel Items"/>
        <br />
        <h:link outcome="/gen/variavelDaEstacao/List" value="Show All VariavelDaEstacao Items"/>
    </h:body>



















</html>

