<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
    </h:head>

    <h:body>

        <p:growl id="growl" life="3000" widgetVar="growl" />

        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="68" header="#{bundle.AppName}">
                <h:form>
                    <p:toolbar>
                        <p:toolbarGroup align="left">  
                            <p:commandButton type="button" value="New" icon="ui-icon-document" />  
                            <p:commandButton type="button" value="Open" icon="ui-icon-folder-open"/>  
                            <p:separator />  
                            <p:commandButton type="button" title="Save" icon="ui-icon-disk"/>  
                            <p:commandButton type="button" title="Delete" icon="ui-icon-trash"/>  
                            <p:commandButton type="button" title="Print" icon="ui-icon-print"/>  
                        </p:toolbarGroup>  

                        <p:toolbarGroup align="right">  
                            <p:menuButton value="Options">  
                                <p:menuitem value="Home" url="http://www.primefaces.org" />  
                                <p:menuitem value="ShowCase"  
                                            url="http://www.primefaces.org/showcase" />  
                                <p:menuitem value="TouchFaces"  
                                            url="http://www.primefaces.org/showcase/touch" />  
                            </p:menuButton>  
                        </p:toolbarGroup>
                    </p:toolbar>
                </h:form>
                <h:form id="menuForm">
                    <p:menubar>
                        <p:menuitem value="#{bundle.Home}" outcome="/index" icon="ui-icon-home"/>
                        <p:submenu label="#{bundle.Maintenance}">
                            <p:menuitem value="Estado" outcome="/estado/List.xhtml" />
                        </p:submenu>                        
                    </p:menubar>
                </h:form>
            </p:layoutUnit>

            <p:layoutUnit position="south" size="60">
                <ui:insert name="footer"/>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <ui:insert name="body"/>
            </p:layoutUnit>

        </p:layout>

    </h:body>

</html>
