<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EstadoViewDlg" widgetVar="EstadoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewEstadoTitle}">
            <h:form id="EstadoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{estadoController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateEstadoLabel_id}" for="id" />
                        <p:inputText size="4" readonly="true" id="id" value="#{estadoController.selected.id}" title="#{bundle.CreateEstadoTitle_id}" />
                        <p:outputLabel value="#{bundle.CreateEstadoLabel_nome}" for="nome" />
                        <p:inputText size="60"  readonly="true" id="nome" value="#{estadoController.selected.nome}" title="#{bundle.CreateEstadoTitle_nome}" />
                        <p:outputLabel value="#{bundle.CreateEstadoLabel_sigla}" for="sigla" />
                        <p:inputText readonly="true" id="sigla" value="#{estadoController.selected.sigla}" title="#{bundle.ViewEstadoTitle_sigla}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="EstadoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
