<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./modelo.xhtml">

    <ui:define name="top">        
    </ui:define>

    <ui:define name="content">
        Inserir uma imagem bem bonita para fazer
    </ui:define>

</ui:composition>
