<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:outputScript library="pos" name="script.js"/>
        <h:outputStylesheet library="pos" name="estilo.css"/>
        <h:form acceptcharset="ISO-8859-1">
            <h:outputLink value="http://www.upf.br" target="_blank">
                <h:graphicImage library="pos" 
                                name="logoUPF.png"
                                height="50"/>
            </h:outputLink>
            <br/>
            <h:outputLink value="https://www.google.com.br/search"
                target="_blank">
                <f:param name="q" value="#{listaProdutos.produto}"/>
                <h:outputText value="Procurar"/>
            </h:outputLink>
            <br/>
            <h:messages showDetail="true" showSummary="true"
                        errorStyle="color: red"
                        infoStyle="color: green"
                        warnStyle="color: orange"
                        fatalStyle="color: gray"/>
            <h:outputText value="Produto:"/>
            <h:inputText value="#{listaProdutos.produto}"
                         binding="#{listaProdutos.inputProduto}"/>
            <h:commandButton value="Adicionar"
                             action="#{listaProdutos.adicionar()}"
                             binding="#{listaProdutos.botaoAdicionar}"/>
            <ol>
                <ui:repeat value="#{listaProdutos.produtos}"
                           var="p">
                    <li>#{p}</li>
                </ui:repeat>
            </ol>
            <h:outputText value="Quantidade:" 
                          rendered="#{listaProdutos.renderizar}"/>
            <h:outputText value="#{listaProdutos.produtos.size()}"
                          rendered="#{listaProdutos.renderizar}"/>
        </h:form>
    </h:body>
</html>

