<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet library="pos" name="estilo.css"/>
        <title>
            <ui:insert name="title">Estações Pós</ui:insert>
        </title>
    </h:head>

    <h:body>
        <header>
            <h:outputLink value="http://www.upf.br" target="_blank">
                <h:graphicImage library="pos" 
                                name="logoUPF.png"
                                height="30"/>
            </h:outputLink>            
        </header>
        <h:form>
            <h:commandButton value="Home"
                 action="/index.xhtml?faces-redirect=true"/>
            <h:commandButton value="Estados"
                 action="/estado/listEstado.xhtml?faces-redirect=true"/>
            <hr/>
        </h:form>
        <div id="top">
            <ui:insert name="top">Top</ui:insert>
        </div>

        <div id="content" class="center_content">
            <ui:insert name="content">Content</ui:insert>
        </div>

        <div id="bottom">
            <ui:insert name="bottom">
                <hr/>
                <center>EstaçõesPos.org</center>                
            </ui:insert>
        </div>

    </h:body>

</html>
