<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Calculadora</title>
    </h:head>
    <h:body>
        <h:form>
            <h:outputLabel value="Valor de A:"/>
            <h:inputText value="#{calculadoraMB.a}"/>
            
            <h:outputLabel value="Valor de B:"/>
            <h:inputText value="#{calculadoraMB.b}"/>
            
            <h:commandButton action="#{calculadoraMB.soma()}" value="Soma"/>
            
            <h:outputLabel value="Resultado:"/>
            <h:inputText value="#{calculadoraMB.resultado}"/>
        </h:form>
    </h:body>
</html>

