<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>pessoas</title>
    </h:head>
    <h:body>
        <h:form>
            <h:outputLabel value="Nome: "/>
            <h:inputText value="#{listaPessoasMB.nome}"/>
            
            <h:outputLabel value="Idade: "/>
            <h:inputText value="#{listaPessoasMB.idade}"/>
            
            <h:commandButton action="#{listaPessoasMB.adiciona()}" value="Adiciona pessoa"/>
            <hr/>
            <h:outputLabel value="Pessoas:"/>
            <h:dataTable value="#{listaPessoasMB.pessoas}" var="p">
                <h:column>
                    <h:outputText value="#{p.nome}"/>
                </h:column>
                <h:column>
                    <h:outputText value="#{p.idade}"/>
                </h:column>
                <h:column>
                    <h:commandLink action="#{listaPessoasMB.remove(p)}" value="Remover"/>
                </h:column>
            </h:dataTable>
            <hr/>
            
            <h:outputLabel value="Quantidade crianças: #{listaPessoasMB.qtdCriancas} adolecentes: #{listaPessoasMB.qtdAdolecentes} adultos: #{listaPessoasMB.qtdAdultos}"/>
            
            
        </h:form>
    </h:body>
</html>

