<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./modeloTLCB.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="title">
        Erro - Login inválido
    </ui:define>

    <ui:define name="top">
        Topo
    </ui:define>

    <ui:define name="left">
        Menu...
    </ui:define>

    <ui:define name="content">
        Erro ao entrar no sistema. Clique <h:form><h:commandLink value="aqui" action="login.xhtml"/></h:form> para tentar novamente.
         
    </ui:define>

    <ui:define name="bottom">
        Hoje é...
    </ui:define>

</ui:composition>
