<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./modeloTLCB.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="title">
        Login Obrigatório
    </ui:define>

    <ui:define name="top">
        Login - Sistema de Manutenção de Estações
    </ui:define>

    <ui:define name="content">
        <h:form>
            <h:outputLabel value="Usuário:"/><h:inputText value="#{loginMB.usr}"/><br/>
            <h:outputLabel value="Senha:"/><h:inputSecret value="#{loginMB.pwd}"/><br/>
            <h:commandButton value="Valida" action="#{loginMB.valida()}"/> 
        </h:form>
    </ui:define>

</ui:composition>
