<div class="crud" id="estado">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Cadastro de Esta&ccedil;&atilde;o</h4>
    </div>
    <div class="modal-body">
        <!-- Nav tabs -->
        <ul class="tabCrud nav nav-tabs" role="tablist">
            <li class="active"><a href="#grid" role="tab" data-toggle="tab">Grid</a></li>
            <li><a href="#manutencao" role="tab" data-toggle="tab">Manuten&ccedil;&atilde;o</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="grid">
                <div class="panel panel-default">
                    <!-- Table -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th id="_id">#</th>
                                <th id="sigla">Sigla</th>
                                <th id="nome">Nome</th>
                                <th class="edit"></th>
                                <th class="remove"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="manutencao">
                <form role="form">
                    <input type="hidden" value="" id="id">
                    <div class="form-group">
                        <label for="sigla">Sigla</label>
                        <input type="text" class="form-control" id="sigla" placeholder="Sigla">
                    </div>
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" placeholder="Nome">
                    </div>
                    <button type="button" class="btn btn-success ladda-button" id="btnCrudSalvar" data-style="zoom-in"><span class="ladda-label"><span class="glyphicon glyphicon-ok-sign"></span> Salvar</span></button>
                    <button type="button" class="btn btn-danger" id="btnCrudClose"><span class="glyphicon glyphicon-remove-sign"></span> Cancelar</button>
                </form>
            </div>
        </div>

    </div>
    <div class="modal-footer">        
    </div>
</div>
<script>
    $(function(){
        //inicia campos "select" "lista do grid"
        iniciaForm();
    });
</script>

