<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
    </ui:define>

    <ui:define name="footer">
    </ui:define>

    <ui:define name="body">
        <h:form id="form">

            <p:pieChart legendPosition="W" title="Consumo" value="#{graficoController.pieModel1}" style="width:550px;height:350px" />

            <p:barChart legendPosition="W" title="Gastos" value="#{graficoController.barModel}" style="width:550px;height:350px" />
       </h:form>
    </ui:define>

</ui:composition>
