<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        title
    </ui:define>

    <ui:define name="footer">
    </ui:define>

    <ui:define name="body">
        <h:form id="form">

           <p:growl id="messages" showDetail="true" />
           <p:schedule aspectRatio="3" id="schedule" value="#{calendarioController.eventModel}" widgetVar="myschedule">

               <!--p:ajax event="dateSelect" listener="#{calendarioController.onDateSelect}" update="eventDetails" oncomplete="PF('eventDialog').show()" /-->
               <!--p:ajax event="eventSelect" listener="#{calendarioController.onEventSelect}" update="eventDetails" oncomplete="PF('eventDialog').show()" /-->
               <p:ajax event="eventMove" listener="#{calendarioController.onEventMove}" update="messages" />
               <p:ajax event="eventResize" listener="#{calendarioController.onEventResize}" update="messages" />

           </p:schedule>
       </h:form>
    </ui:define>

</ui:composition>
