<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
    </h:head>

    <h:body>

        <p:growl id="growl" life="3000" />

        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="80" header="#{bundle.AppName}">
                <h:form id="menuForm">
                    <p:menubar>
                        <p:menuitem value="#{bundle.Home}" outcome="/index" icon="ui-icon-home"/>
                        <p:submenu label="#{bundle.Maintenance}">
                            <p:menuitem value="Categoria" outcome="/gen/categoria/List.xhtml"/>
                            <p:menuitem value="Cotacao" outcome="/gen/cotacao/List.xhtml" />
                            <p:menuitem value="Grupo" outcome="/gen/grupo/List.xhtml" />
                            <p:menuitem value="Moeda" outcome="/gen/moeda/List.xhtml" />
                            <p:menuitem value="Registro" outcome="/gen/registro/List.xhtml" />
                        </p:submenu>
                        <p:menuitem value="Gráfico" outcome="/grafico.xhtml" icon="ui-icon-chart"/>
                    </p:menubar>
                    
                </h:form>
            </p:layoutUnit>

            <p:layoutUnit position="south" size="60">
                <ui:insert name="footer"/>
                <h:form>
                    <h:outputLabel value="Tema" for="themeSw" /><br/>
                    <p:themeSwitcher id="themeSw" value="#{themeSwitcherBean.theme}">
                        <f:selectItems value="#{themeSwitcherBean.themes}"/>
                    </p:themeSwitcher>
                </h:form>

            </p:layoutUnit>

            <p:layoutUnit position="center">
                <ui:insert name="body"/>
            </p:layoutUnit>

        </p:layout>

    </h:body>
    <p:ajaxStatus style="width:128px;height:128px;position:fixed;right:5px;bottom:5px;z-index: auto">
        <f:facet name="start">
            <p:graphicImage value="/resources/img/ajax-loader.gif" />
        </f:facet>

        <f:facet name="complete">
            <h:outputText value="" />
        </f:facet>
    </p:ajaxStatus>
    <h:form>
        <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
            <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
            <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>     
        </p:confirmDialog>
    </h:form>
</html>
