<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateEstadoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateEstadoLabel_versao}" for="versao"/>
                    <h:inputText readonly="true" id="versao" value="#{estadoController.selected.versao}" title="#{bundle.CreateEstadoTitle_versao}" />
                    <h:outputLabel value="#{bundle.CreateEstadoLabel_id}" for="id" />
                    <h:inputText readonly="true" id="id" value="#{estadoController.selected.id}" title="#{bundle.CreateEstadoTitle_id}" />
                    <h:outputLabel value="#{bundle.CreateEstadoLabel_nome}" for="nome" />
                    <h:inputText id="nome" value="#{estadoController.selected.nome}" title="#{bundle.CreateEstadoTitle_nome}" />
                    <h:outputLabel value="#{bundle.CreateEstadoLabel_sigla}" for="sigla" />
                    <h:inputText id="sigla" value="#{estadoController.selected.sigla}" title="#{bundle.CreateEstadoTitle_sigla}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{estadoController.create}" value="#{bundle.CreateEstadoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{estadoController.prepareList}" value="#{bundle.CreateEstadoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateEstadoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
