<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditEstadoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditEstadoLabel_versao}" for="versao" />
                    <h:inputText readonly="true" id="versao" value="#{estadoController.selected.versao}" title="#{bundle.EditEstadoTitle_versao}" />
                    <h:outputLabel value="#{bundle.EditEstadoLabel_id}" for="id" />
                    <h:inputText readonly="true" id="id" value="#{estadoController.selected.id}" title="#{bundle.EditEstadoTitle_id}" />
                    <h:outputLabel value="#{bundle.EditEstadoLabel_nome}" for="nome" />
                    <h:inputText id="nome" value="#{estadoController.selected.nome}" title="#{bundle.EditEstadoTitle_nome}" />
                    <h:outputLabel value="#{bundle.EditEstadoLabel_sigla}" for="sigla" />
                    <h:inputText id="sigla" value="#{estadoController.selected.sigla}" title="#{bundle.EditEstadoTitle_sigla}" />
                </h:panelGrid>
                <h:commandLink action="#{estadoController.update}" value="#{bundle.EditEstadoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditEstadoViewLink}"/>
                <br />
                <h:commandLink action="#{estadoController.prepareList}" value="#{bundle.EditEstadoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditEstadoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
