<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../modelo.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Manutenção de Estados - Estações.org
    </ui:define>

    <ui:define name="top">
        <h1>Manutenção de Estados</h1>
    </ui:define>

    <ui:define name="content">
        <h:form acceptcharset="ISO-8859-1">
            <h:messages showDetail="false" showSummary="true"
                        errorStyle="color: red"
                        infoStyle="color: green"
                        warnStyle="color: orange"
                        fatalStyle="color: gray"/>
            <h:panelGrid columns="2">
                <h:outputLabel value="#{msg.field_id}:"/>
                <h:inputText value="#{mEstados.estado.id}"
                             disabled="true"/>
                <h:outputLabel value="#{msg.field_name}:" for="nome"/>
                <h:panelGroup>
                    <h:inputText value="#{mEstados.estado.nome}"
                                 id="nome" label="#{msg.field_name}"/>
                    <h:message for="nome" style="color: red"/>
                </h:panelGroup>
                <h:outputLabel value="#{msg.field_acronym}:" for="sigla"/>
                <h:selectOneMenu value="#{mEstados.estado.sigla}"
                                 id="sigla" label="#{msg.field_acronym}">
                    <f:selectItem itemLabel="Selecione" />
                    <f:selectItems value="#{mEstados.siglas}" var="s"
                                   itemValue="#{s}"/>
                </h:selectOneMenu>
                <h:outputLabel/>
                <h:panelGroup>
                    <h:commandButton value="Salvar"
                                     action="#{mEstados.salvar()}"/>
                    <h:commandButton value="Cancelar"
                                     action="#{mEstados.cancelar()}"
                                     immediate="true"/>
                </h:panelGroup>                
            </h:panelGrid>
        </h:form>
    </ui:define>

</ui:composition>
