<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../modelo.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">        
        Lista Estados - Estações.org
    </ui:define>
    
    <ui:define name="top">  
        <h1>Lista de Estados</h1>
    </ui:define>

    <ui:define name="content">
        <h:form acceptcharset="ISO-8859-1">      
            <h:messages showDetail="true" showSummary="true"
                        errorStyle="color: red"
                        infoStyle="color: green"
                        warnStyle="color: orange"
                        fatalStyle="color: gray"/>
            <h:commandButton value="Adicionar Estado" 
                             action="#{mEstados.novo()}"/>
            <h:dataTable value="#{mEstados.estados}"
                         var="e" border="1"
                         cellpadding="2" cellspacing="0">
                <f:facet name="header">
                    Lista de Estado
                </f:facet>
                <h:column>
                    <f:facet name="header">ID</f:facet>
                    <h:outputText value="#{e.id}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Nome</f:facet>
                    <h:outputText value="#{e.nome}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Sigla</f:facet>
                    <h:outputText value="#{e.sigla}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Editar</f:facet>
                    <h:commandLink action="#{mEstados.editar(e)}"
                                   value="Editar"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Excluir</f:facet>
                    <h:commandLink actionListener="#{mEstados.excluir(e)}"
                    onclick="return confirm('Confirma a exclusão do estado #{e.nome}?')">
                        Excluir
                        <f:ajax render="@form" execute="@form"/>
                    </h:commandLink>
                </h:column>
            </h:dataTable>
        </h:form>
    </ui:define>

</ui:composition>

