<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Lanca dado</title>
    </h:head>
    <h:body>
        <h:form>
            <h:outputLabel value="Pressione o botão para sortear um número" /><br/>
            <h:commandButton action="#{dadoMB.lancaDado()}" value="Sortear"/><br/>
            <br/>
            <h:outputLabel value="Resultado:" /><br/>
            <h:inputText value="#{dadoMB.resultado}"/>
        </h:form>
    </h:body>
</html>

